html, body {
    margin: 0;
    height: 100%;
}

.foodbg {
   padding-top: 50px;
   padding-bottom: 50px;
   background-color: antiquewhite;
   background-image: url("images/foodbg.jpg");
   background-size: contain;
   font-size: 30px;
   color: rgba(226, 15, 15, 0.479);
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left:1rem;
    padding-right:1rem;
}

.foodbg
.h1 {
    text-decoration-line: underline;
}