body {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color: rgb(110, 136, 216);
    background-color:papayawhip;
}

html, body {
    margin: 0;
    height: 100%;
}

.bg {
   padding-top: 220px;
   padding-bottom: 220px;
   background-color: antiquewhite;
   background-image: url("images/bg.jpg");
   background-repeat: no-repeat;
   font-size: 40px;
   color: rgba(226, 15, 15, 0.479);
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left:1rem;
    padding-right:1rem;
}

.bon {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.lnks,
.hd2 {
    font-size: 30px;
    margin-bottom: 5px;
}